

:root{
    --whitesmoke-gray: whitesmoke;
    --auto-selected: #B8B8B8;
    --auto-strong: #3399FF;

}


.autocomplete-suggestions {
    border: none;
    background-color: #F0F0F0;
    overflow: auto;
    border-bottom-left-radius:0.5rem;
    border-bottom-right-radius:0.5rem;
    margin-top:-0.9rem;
    padding-top:0.4rem;
    padding-bottom:.3rem;
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    box-shadow:0 .4rem 0.4rem rgba(0, 0, 0, 0.3);
}
.autocomplete-suggestion { padding-bottom: .2rem; padding-top:.2rem;padding-left:1rem; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: var(--auto-selected); }
.autocomplete-suggestions strong { font-weight: normal; color: var(--auto-strong); }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }




.only-left-margin{
    margin:0;
    margin-left:10%;
}

.smalltext{
    font-size:0.8rem;
    color:gray;
}


.white{
    color:white;
}

.gray{
    background-color: #4c4c4c;
}

html, body {
    height:100%;
    margin:0;
    background: black;
}

.cover{
    position:relative;
    min-height: 100%;
    background: linear-gradient(to bottom right, lightskyblue, pink);
}


.table-container{
    width: 100%;
    max-width: 50rem;
    margin: 2rem auto;
    padding: 2.5%;
    border-radius: 1rem;
    box-shadow: 0 0.25rem 0.4rem rgba(0, 0, 0, 0.4);
    transition: all 0.2s;
    text-align: center;
    justify-content: center;
    backdrop-filter: saturate(1.5);
}

.styled-table {
    border-collapse: collapse;
    margin-left:auto;
    margin-right:auto;

}

.styled-table th,
.styled-table td {
    padding: 0.5rem 0.8rem;
    text-align: center;
}

.styled-table a{
    color:royalblue;
    text-decoration: none;
    transition: color 0.2s;
}

.styled-table a:hover{
    color: hotpink;
}

.styled-table thead {
    background-color: #f2f2f2;
}

.styled-table tbody tr:nth-child(even){
    background-color: rgb(0,0,0,0.1);
}







.cover-dark{
    background: linear-gradient(to bottom left, #2a2a2a, #151515);
    color:white;
}

.search-tabs {
    display: flex;
    justify-content: center;
    margin-top:3rem;
}

.tab-button {
    padding: 1rem 2rem;
    background-color: #EEE;
    border: none;
    cursor: pointer;
    margin-left:1%;
    margin-right:1%;
    border-radius: 1rem;
    transition: all 0.3s;
}

.tab-button-dark{
    color:white;
    background-color: #4c4c4c;
}

.tab-button-dark.active{
    filter: drop-shadow(0 0 0.2rem rgba(255,255,255,1));
}

.tab-button.active {
    background-color: #a0a0a0;
}

.search-container{
    padding: 9%;
    margin: 3rem;
    margin-top:0;
    border-radius: 1rem;
    transition: background-color 0.4s, opacity 0.4s;
    text-align: center;
}


.carousel{
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-elements{
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-container {
    flex: 0 0 100%;
    opacity: 0;
    transition: opacity 0.6s;
    text-align: center;
    display: block;
}

.carousel-block{
    display: none;
    transition: background-color 0.4s, opacity 0.4s;
    font-size:1.8rem;
}

.carousel-block.active{
    display: block;
    opacity:1;
}


.next-arrow {
    position: absolute;
    background: black;
    font-size: 2em;
    color:white;
    cursor: pointer;
    top:50%;
    right:1.5rem;
    border-radius:50%;
    width:4rem;
    height:4rem;
    border:none;

    opacity:50%;
    text-align: center;
    box-shadow: 0 0.25rem 0.4rem rgba(0, 0, 0, 0.4);
}

.next-arrow:hover{
    opacity:100%;
}

.prev-arrow {
    position: absolute;
    background:black;
    font-size: 2em;
    color:white;
    cursor: pointer;
    top:50%;
    left:1.5rem;
    border-radius: 50%;
    width:4rem;
    height:4rem;
    border:none;

    opacity:50%;
    text-align: center;
    box-shadow: 0 0.25rem 0.4rem rgba(0, 0, 0, 0.4);
}

.prev-arrow:hover{
    opacity:100%;
}

.hidden{
    display:none;
}

.logo{
    width:9rem;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 0.3rem;
}

#logo{
    width:9rem;
}

.logo-glow{
    filter: drop-shadow(0 0 0.4rem rgba(255,255,0,1));
}

.genres{
    display: flex;
    flex-wrap: wrap;
}


.filter{
    margin-top: 3rem;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: space-around;
    align-items: self-end;
}

.order-form{
    flex-basis: 33%;
    text-align: center;
}

#Per{
    padding: 0.5rem;
    border-radius: 0.1rem;
    transition: background-color 0.2s;
    cursor: pointer;
    border-top: none;
    border-bottom: none;
    background-color: rgb(0,0,0,0.1);
    color: inherit;
}

#Per:hover{
    background-color: rgb(0,0,0,0.2);;
}

.order{
    padding: 0.5rem;
    border-radius: 0.1rem;
    transition: background-color 0.2s;
    cursor: pointer;
    border-top: none;
    border-bottom: none;
    background-color: rgb(0,0,0,0.1);
    color:inherit;
}

.order:hover{
    background-color: rgb(0,0,0,0.2);;
}

.select-form {
    padding: 0.5rem;
    border-radius: 1rem;
    background-color: whitesmoke;
    flex-basis: 100%;
    transition: all 0.3s;
    font-size: 0.9rem;
    cursor: pointer;
}

.select-form:hover{
    background-color: lightgray;
}

.select-form select {
    width: 100%;
    height: 100%;
    padding: 0.3rem;
    border: none;
    background-color: transparent;
}


.select-form:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.25);
}



.navbar-toggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    margin-top:0.3rem;
    margin-left:2rem;

}

.bar {
    display: block;
    width: 30px;
    height: 3px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: cornflowerblue;
    margin: 6px auto;
    border-radius: 1rem;

}

.navbar-content {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: inherit;
}

.bar-dark{
    background-color: white;

}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f9f9f9;
    z-index: 999;
    box-shadow: 0 .2rem .4rem rgba(0, 0, 0, 0.2);
    display:flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s;
    height:4rem;
}



.cart-list{
    position: fixed;
    right: -100%;
    top: 4rem;
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
    padding: 1.5rem;
    width: 20rem;
    padding-bottom: 10%;
    height: 80vh;
    transition: right 0.3s;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    text-align:right;
    background-color: rgba(0,0,0,0.8)

}

.cart-list.active{
    right:0;
}

.cart-item{
    padding: 1rem;
    background-color: var(--whitesmoke-gray);
    max-height: 5rem;
    min-height:5rem;
    border-radius: 0.5rem;
    margin: 1rem;
    flex:1;
    text-align:left;
    white-space: pre-line;
    line-height: 1.5;
}

.cart-options{

}

.cart-options a{
    cursor:pointer;
    color:cornflowerblue;
    transition: color 0.2s;
    font-weight: bold;
    font-size:1.2rem
}

.cart-options a:hover{
    color:hotpink;
}

.cart-item-dark{
    background-color:gray;
}

.cart-ending{
    margin-top:2rem;
    padding-right: 10%;
    font-weight: bold;
    color:white;
}

.cart-checkout{
    cursor: pointer;
    transition: background-color 0.3s;
    color: whitesmoke;
    background-color: #007bff;
    padding: 0.5rem;
    text-align: center;
    width: 9rem;
    margin: 1rem;
    border-radius: 0.3rem;
    margin-left: 8rem;
}

.cart-checkout:hover{
    background-color:#0056b3;
}

.cart-empty{
    text-align: center;
    margin: 2rem;
    background-color: var(--whitesmoke-gray);
    padding: 2rem;
    border-radius: 1rem;
    font-weight: bold;
}


.results{
    text-align: center;
    color: cornflowerblue;
    background-color: whitesmoke;
    margin-left: 3rem;
    padding: 1.5rem;
    border-radius: 1rem;
    text-decoration: none;
    transition: color 0.3s, background-color 0.3s;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);

}



.results:hover{
    color:hotpink;
}

.cart-form button[type="submit"] {
    border: none;
    cursor: pointer;
    font-size: 1rem;
    text-align: center;
    color: whitesmoke;
    background-color: cornflowerblue;
    margin-right: 3rem;
    padding: 1.5rem;
    border-radius: 1rem;
    text-decoration: none;
    transition: background-color 0.3s;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    font-weight: bold;
}

.cart-form button[type="submit"]:hover {
    background-color: #0056b3;;
}


.star-container{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 45rem;
    border-radius: 1rem;
    text-align: left;
    padding: 3rem;
    margin-bottom: 5rem;
    transition: background-color 0.4s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgb(255,255,255,0.8);
}

.results-container{
    padding-left: 10%;
    padding-right: 10%;
    margin-top: -5rem;
    padding-top: 5rem;
    padding-bottom: 3rem;


    text-align: center;

}

.main-container{
    display:flex;
    flex-wrap:wrap;
}



.left-container{
    flex-basis:60%;
}

.right-container{
    flex-basis:40%;
    text-align: center;
    margin-top:4%;
}

.right-container a{
    text-decoration: none;
    color:cornflowerblue;
    line-height: 1.6;
    font-size: 1.3rem;
    transition: all 0.2s;
}

.right-container a:hover{
    color:hotpink;
}

.actor_grid{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    border-left:3rem;
    border-right:3rem;
    text-align: center;
    align-items: center;
}

.actor_grid a{
    text-decoration: none;
    margin: 1.2rem;
    border-radius: 0.5rem;
    color: black;
    cursor: pointer;
    box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,0.3);
    transition: all 0.2s;
    padding:5%;
    background: linear-gradient(to bottom right, lightskyblue, cornflowerblue);
}

.actor_grid a:hover{
    transform: translateY(-7px);
}

.actor_grid_darken a{

    background-image: linear-gradient(to bottom right, lightgray, grey);

}


.movie_grid{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    border-left:3rem;
    border-right:3rem;
    text-align: center;
}

.movie_grid a{
    text-decoration: none;
    margin: 1.2rem;
    border-radius: 0.5rem;
    color: black;
    cursor: pointer;
    box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,0.3);
    transition: all 0.2s;
    padding:5%;
    background: linear-gradient(to bottom, lightpink, hotpink);
}

.movie_grid a:hover{
    transform: translateY(-7px);
}

.movie_grid_darken a{
    background-image: linear-gradient(to bottom right, lightgray, grey);

}


.page-container{
    padding-left:5%;
    padding-right:5%;
    font-size:1.2rem;
}

.page-container a{
    text-decoration: none;
    color: royalblue;
    transition: color 0.2s;
}

.page-container a:hover{
    color: hotpink;
}



.results-addcart{
    width: 100%;
    height: 2rem;
    justify-content: space-between;
    display: inline-flex;
    align-items: center;
    margin-bottom:2.5rem;
    font-weight: bold;
}




.dark-navbar{
    background-color: #323232;
    color:whitesmoke;
}

.navbar-spacer{
    height:7rem;
    transition: all 0.6s;
}

.navbar-spacer.active{
}

.cart-button {
    background: url("img/cart.png") no-repeat 1rem cornflowerblue;
    text-decoration: none;
    color: #272343;
    cursor: pointer;
    padding: 0.6rem 1.5rem;
    font-weight: 400;
    font-size: 1.6rem;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.25s;
    height: 1.5rem;
    width: 3rem;
    margin-right: 2rem;
    background-size: 2rem;
    border-radius: 5px;
}

.cart-button:hover {
    background-color: #0056b3;;
    background-position-x: 2rem;


}




.toggle{
    border-radius: 3rem;
    background-color: lightskyblue;
    border: none;
    height:2rem;
    min-width:4rem;
    cursor: pointer;
    margin-right: 2rem;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.25s;
}

.toggle:hover{
    background-color: #659eca;
}

.dark-buttons{
    background-color: #4c4c4c;
    color:white;
}

.dark-buttons:hover{
    background-color:gray;
}

.toggleButton{
    height: 100%;
    width: 59%;
    border-radius: 100%;
    background-color: white;
    background-image: url("img/sun.png");
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 50%;
    display: block;
    transition: all 0.4s;
}

.toggleButtonSwap{
    margin-left:-8%;
    background-image: url("img/moon.png");
}



.container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}



.autocomplete-searchbox {
    height: 2.5rem;
    width: 80%;
    border-radius: 1rem;
    margin: 0 2rem;
    border: none;
    padding-left: 1rem;
    transition: all 0.4s;
    box-shadow: 0 .1rem .2rem rgba(0, 0, 0, 0.3);
    background-color: #F0F0F0;
}

.autocomplete-searchbox:focus{
    outline: none;
    border:none;
    box-shadow: 0 .1rem .5rem rgba(0, 0, 0, 0.5);
}


.autocomplete-dark{
    background-color: #4c4c4c;
    color:white;

}


.light-text{
    color: whitesmoke;
}

.center-content{
    display:flex;
    justify-content: center;
    align-content: center;
    width:100%;

}

.center-items{
    justify-items: center;
    align-items: center;
}

.center-text{
    text-align: center;
}

.font{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.center-self{
    justify-self:center;
}



#login_form {
    max-width: 30rem;
    margin: 6%;
    padding: 2rem;
    border: 1px solid #ccc;
    border-radius: 5%;
    background-color: #f9f9f9;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    justify-content:center;
    flex-basis:100%;
}

#login_form input[type="text"],
#login_form input[type="password"] {
    width: 80%;
    padding: 0.7rem;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 1rem;
    transition: border-color 0.3s;
    background:none;
}

#login_form input[type="text"]:focus,
#login_form input[type="password"]:focus {
    border-color: #007bff;
}

/* Style the submit button */
#login_form input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 0.8rem 3rem;
    margin-top:2rem;
    border-radius: 3rem;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
}

#login_form input[type="submit"]:hover {
    background-color: #0056b3;
}

#login_form label {
    display: block;
    margin-bottom: 0.5rem;
    margin-top:1.5rem;
    text-align: left;
    font-size: 12px;
    color: #666;
    padding-left: 8%;
}

#login_error_message{
    transition: all 0.5s;
    margin-top:1.5rem;
    margin-bottom:1rem;
}

.login_error_appear{
    background-color: rgba(255,0,13,0.51);
    padding:4% 18%;
    border-radius:1rem;
}

.small-link{
    font-size:0.8rem;
    color:cornflowerblue;
    text-decoration: none;
}


.g-recaptcha {
    margin-top: 2rem;
    margin-left:auto;
    margin-right:auto;

}

.block-center {
    display: flex;
    justify-content: center;
    align-items:center;
    min-height:2rem;
}















.footer{
    position:absolute;
    bottom:0;
    width:100%;
    text-align:center;
    font-size:0.8rem;
    height:2rem;
    background-color: black;
    color:white;
}











@media(max-width:864px){

    .table-container{
        width:90%;
    }

    .styled-table tbody td:nth-child(4) {
        display:none;
    }

    .styled-table tbody td:nth-child(5) {
        display:none;
    }

    .styled-table tbody th:nth-child(4) {
        display:none;
    }

    .styled-table tbody th:nth-child(5) {
        display:none;
    }
}





@media (max-width:764px) {
    .navbar-toggle{
        display: block;

    }

    .navbar-toggle.active .bar:nth-child(1){
        transform:translateY(9px) rotate(45deg);
    }

    .navbar-toggle.active .bar:nth-child(2){
        opacity: 0;
    }

    .navbar-toggle.active .bar:nth-child(3){
        transform:translateY(-9px) rotate(-45deg);
    }

    .navbar-content{
        position:fixed;
        left:-100%;
        top:4rem;
        flex-direction: column;
        height:10rem;
        transition: left 0.4s ease-in-out, opacity 0.4s;
        box-shadow: 0 .2rem .4rem rgba(0, 0, 0, 0.2);
        padding-top:1.5rem;
        padding-bottom:2rem;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        opacity:0;
    }

    .navbar-content.active{
        left:0;
        opacity: 1;
    }

    .toggle{
        margin: 0 1rem;
    }

    .autocomplete-searchbox{
        margin:0;
    }

    .navbar-spacer.active{
        height:20rem;
    }


    .carousel-block{
        font-size:1.5rem;
    }

    .star-container{
        margin-left:2rem;
        margin-right:2rem;
    }

    .actor_grid{
        grid-template-columns: repeat(2, 1fr);

    }

    .movie_grid{
        grid-template-columns: repeat(2, 1fr);

    }

    .left-container{
        flex-basis:100%;
    }

    .right-container{
        flex-basis:100%;

    }






}








.no-transition{
    transition: none !important;
}


