.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; border-radius:0.5rem; font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;}
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }

.white{
    color:white;
}

.gray{
    background-color: #4c4c4c;
}

html, body {
    height:100%;
    margin:0;

}

.cover{
    position:relative;
    min-height: 100%;
    background: linear-gradient(to bottom right, lightskyblue, pink);
    transition: all 0.7s;
}

.cover-dark{
    background: linear-gradient(to bottom left, #2a2a2a, #151515);
    color:gold;
}

.search-tabs {
    display: flex;
    justify-content: center;
}

.tab-button {
    padding: 1rem 2rem;
    background-color: #EEE;
    border: none;
    cursor: pointer;
    margin-inline: 1%;
    border-radius: 1rem;
    transition: all 0.3s;
}

.tab-button-dark{
    color:gold;
    background-color: #4c4c4c;
}

.tab-button-dark.active{
    filter: drop-shadow(0 0 0.2rem rgba(255,255,0,1));
}

.tab-button.active {
    background-color: #a0a0a0;
}

.search-container{
    flex: 0 0 100%;
    text-align: center;
    display: block;
}


.carousel{
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-elements{
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-container {
    flex: 0 0 100%;
    opacity: 0;
    transition: opacity 0.6s;
    text-align: center;
    display: block;
}

.carousel-block{
    display: none;
    padding: 9%;
    margin: 4rem;
    margin-bottom:6rem;
    border: 1px solid #ccc;
    border-radius: 1rem;
    background-color: #f9f9f9;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    opacity:0;
    transition: background-color 0.4s, opacity 0.4s;
}

.carousel-block.active{
    display: block;
    opacity:1;
}


.next-arrow {
    position: absolute;
    background: black;
    font-size: 2em;
    color:white;
    cursor: pointer;
    top:50%;
    right:1.5rem;
    border-radius:50%;
    width:4rem;
    height:4rem;
    border:none;

    opacity:50%;
    text-align: center;
    box-shadow: 0 0.25rem 0.4rem rgba(0, 0, 0, 0.4);
}

.next-arrow:hover{
    opacity:100%;
}

.prev-arrow {
    position: absolute;
    background:black;
    font-size: 2em;
    color:white;
    cursor: pointer;
    top:50%;
    left:1.5rem;
    border-radius: 50%;
    width:4rem;
    height:4rem;
    border:none;

    opacity:50%;
    text-align: center;
    box-shadow: 0 0.25rem 0.4rem rgba(0, 0, 0, 0.4);
}

.prev-arrow:hover{
    opacity:100%;
}

.hidden{
    display:none;
}

.logo{
    height:100%;
    padding-left: 2%;
    padding-right: 2%;
}

.logo-glow{
    filter: drop-shadow(0 0 0.4rem rgba(255,255,0,1));
}

.genres{
    display: flex;
    flex-wrap: wrap;
}

.select-form {
    padding: 0.5rem;
    border-radius: 3rem;
    background-color: whitesmoke;
    flex-basis: 100%;
    transition: all 0.3s;
    font-size: 0.9rem;
    cursor: pointer;
}

.select-form:hover{
    background-color: lightgray;
}

.select-form select {
    width: 100%;
    height: 100%;
    padding: 0.3rem;
    border: none;
    background-color: transparent;
}


.select-form:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}



.navbar-toggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    margin-top:0.3rem;
    margin-left:2rem;

}

.bar {
    display: block;
    width: 30px;
    height: 3px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: cornflowerblue;
    margin: 6px auto;
    border-radius: 1rem;

}

.navbar-content {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: inherit;
}

.bar-dark{
    background-color: gold;

}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f9f9f9;
    z-index: 999;
    box-shadow: 0 .2rem .4rem rgba(0, 0, 0, 0.2);
    display:flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s;
    height:4rem;
}

.dark-navbar{
    background-color: #323232;
}

.navbar-spacer{
    height:7rem;
    transition: all 0.6s;
}

.navbar-spacer.active{
}

.cart-button {
    background: url("img/cart.png") no-repeat 1rem cornflowerblue;
    text-decoration: none;
    color: #272343;
    cursor: pointer;
    padding: 0.6rem 1.5rem;
    font-weight: 400;
    font-size: 1.6rem;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.25s;
    height: 1.5rem;
    width: 3rem;
    margin-right: 1rem;
    background-size: 2rem;
    border-radius: 5px;
}

.cart-button:hover {
    background-color: darkslateblue;
    background-position-x: 2rem;


}




.toggle{
    border-radius: 3rem;
    background-color: lightskyblue;
    border: none;
    height:2rem;
    min-width:4rem;
    cursor: pointer;
    margin: 0 2rem;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.25s;
}

.toggle:hover{
    background-color: #659eca;
}

.dark-buttons{
    background-color: #4c4c4c;
    color:gold;
}

.dark-buttons:hover{
    background-color:gray;
}

.toggleButton{
    height: 100%;
    width: 59%;
    border-radius: 100%;
    background-color: white;
    background-image: url("img/sun.png");
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 50%;
    display: block;
    transition: all 0.4s;
}

.toggleButtonSwap{
    margin-left:-8%;
    background-image: url("img/moon.png");
}



.container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-container{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60rem;
    border-radius: 10%;
}


.autocomplete-searchbox {
    height: 2.5rem;
    width: 80%;
    border-radius: 3rem;
    margin: 0 2rem;
    border: 0.1rem solid black;
    padding-left: 1rem;
    transition: all 0.4s;
}


.autocomplete-dark{
    background-color: #4c4c4c;
    color:gold;

}




.first-color {
    background: #272343;
}

.second-color {
    background: #ffffff;
}

.third-color {
    background: #e3f6f5;
}

.fourth-color {
    background: #bae8e8;
}

.light-text{
    color: whitesmoke;
}

.center-content{
    display:flex;
    justify-content: center;
    align-content: center;
    width:100%;

}

.center-items{
    justify-items: center;
    align-items: center;
}

.center-text{
    text-align: center;
}

.font{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.center-self{
    justify-self:center;
}



#login_form {
    max-width: 30rem;
    margin: 6%;
    padding: 2rem;
    border: 1px solid #ccc;
    border-radius: 5%;
    background-color: #f9f9f9;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    justify-content:center;
    flex-basis:100%;
}

#login_form input[type="text"],
#login_form input[type="password"] {
    width: 80%;
    padding: 0.7rem;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 1rem;
    transition: border-color 0.3s;
    background:none;
}

#login_form input[type="text"]:focus,
#login_form input[type="password"]:focus {
    border-color: #007bff;
}

/* Style the submit button */
#login_form input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 0.8rem 3rem;
    margin-top:2rem;
    border-radius: 3rem;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
}

#login_form input[type="submit"]:hover {
    background-color: #0056b3;
}

#login_form label {
    display: block;
    margin-bottom: 0.5rem;
    margin-top:1.5rem;
    text-align: left;
    font-size: 12px;
    color: #666;
    padding-left: 8%;
}

#login_error_message{
    transition: all 0.5s;
    margin-top:1.5rem;
    margin-bottom:1rem;
}

.login_error_appear{
    background-color: rgba(255,0,13,0.51);
    padding:4% 18%;
    border-radius:1rem;
}

.small-link{
    font-size:0.8rem;
    color:cornflowerblue;
    text-decoration: none;
}


.g-recaptcha {
    margin-top: 2rem;
    margin-left:auto;
    margin-right:auto;

}

.block-center {
    display: flex;
    justify-content: center;
    align-items:center;
    min-height:2rem;
}


.no-transition{
    transition: all 0s;
}


.footer{
    position:absolute;
    bottom:0;
    width:100%;
    text-align:center;
    font-size:0.8rem;
    height:2rem;
    background-color: black;
    color:white;
}



@media (max-width:764px) {
    .navbar-toggle{
        display: block;

    }

    .navbar-toggle.active .bar:nth-child(1){
        transform:translateY(9px) rotate(45deg);
    }

    .navbar-toggle.active .bar:nth-child(2){
        opacity: 0;
    }

    .navbar-toggle.active .bar:nth-child(3){
        transform:translateY(-9px) rotate(-45deg);
    }

    .navbar-content{
        position:fixed;
        left:-100%;
        top:4rem;
        flex-direction: column;
        height:10rem;
        transition: left 0.4s;
        box-shadow: 0 .2rem .4rem rgba(0, 0, 0, 0.2);
        padding-top:1.5rem;
        padding-bottom:2rem
    }

    .navbar-content.active{
        left:0;
    }

    .toggle{
        margin: 0 1rem;
    }

    .autocomplete-searchbox{
        margin:0;
    }

    .navbar-spacer.active{
        height:20rem;
    }


}